[mackerel-agent]
Name = mackerel-agent
Version = 0.59.2
Author = mackerelio
Date = 2019-03-27
Shell = {{.InstallPath}}/run.sh
Install_Path = {{.InstallPath}}
QPKG_File = {{.InstallPath}}/DUMMY
Enable = TRUE
